<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<!-- Location Services - Basic location access only -->
	<key>com.apple.developer.location.when-in-use</key>
	<true/>
</dict>
</plist>